<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input stock symbol page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
</head>
<body>
    <form id="myForm" method="post">
        <div><a href="./dayTrend">Day trend</a></div>
        <div><a href="./inputsym">Input symbol trend</a></div>
        <div><a href="./bkOutInvoke">Range pattern</a></div>
        <div><a href="./scalpPattern">Scalp pattern</a></div>
    </form>
</body>
</html>