<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>
</head>
<body>

<div>
<table>
	<tr>
		<td style="vertical-align:top"><div id="DataStrategy"></div></td>
	</tr>
</table>
</div>

<script>
	$(document).ready(function () { 
        
		setTimeout(() => {
		  $.getJSON('/rangePattern',  
			 function (data) { 
		 }); 
		}, "1000");
	});
</script>
</body>
</html>
